<div class="sidemenu-area">
    <div class="sidemenu-header">
    <a class="navbar-brand d-flex align-items-center">

    <img src="assets/images/logoetc.jpg"   class="logo-one" alt="Logo"width="80px" height="80px">

    <img src="assets/images/logoetc.jpg" class="logo-two" alt="Logo"width="80px" height="80px">
    </a>
    <div class="responsive-burger-menu d-block d-lg-none">
    <span class="top-bar"></span>
    <span class="middle-bar"></span>
    <span class="bottom-bar"></span>
    </div>
    </div>
    <div class="sidemenu-body">
    <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
    <li class="nav-item active">
    <a routerLink="/home" class="nav-link">
    <span class="icon"><i class="ri-home-line"></i></span>
    <span class="menu-title">Dashboard</span>
    </a>
    </li>
    <li class="nav-item">
    <a routerLink="/home/listerecruteur" class="nav-link">
    <span class="icon"><i class="ri-user-line"></i></span>
    <span class="menu-title">Gerer les  recruteurs</span>
    </a>
    </li>
    <li class="nav-item">
    <a routerLink="/home/listecandidat" class="nav-link">
    <span class="icon"><i class="ri-user-fill"></i></span>
    <span class="menu-title">Gerer les candidats </span>
    </a>
    </li>
    <li class="nav-item">
    <a   routerLink="/home/listecandidature"class="nav-link">
    <span class="icon"><i class="ri-briefcase-line"></i></span>
    <span class="menu-title">Gerer les candidatures</span>
    </a>
    </li>
    
    
    <li class="nav-item">
    <a routerLink="/home/listetechnologie" class="nav-link">
    <span class="icon"><i class="ri-stack-fill"></i></span>
    <span class="menu-title">Gerer technologie</span>
    </a>
    </li>
  
   
    
    </ul>
    </div>
    </div>