<div class="breadcrumb-area">
    <h1>Espace administrateur</h1>
    
    </div>
    
    
    
    
<div class="dashboard-fun-fact-area">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="stats-fun-fact-box">
    <div class="icon-box">
    <i class="ri-briefcase-line"></i>
    </div>
    <span class="sub-title">candidature</span>
    <h3>{{listcandidature.length}}</h3>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="stats-fun-fact-box">
    <div class="icon-box">
    <i class="ri-user-line"></i>
    </div>
    <span class="sub-title">candidats</span>
    <h3>{{listecandidat.length}}</h3>
   
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="stats-fun-fact-box">
    <div class="icon-box">
    <i class="ri-user-line"></i>
    </div>
    <span class="sub-title">recruteurs</span>
    <h3>{{listerecruteur.length}}</h3>
   
    </div>
    </div>
   
    </div>
    </div>
    
    
    
    
    
   