
    
    
    <div class="all-applicants-box">
        <button  class="btn btn-lg btn-block btn-primary" style="background-color: #88caa0;" type="submit" class="btn btn-primary"  routerLink="/home/ajouterrecruteur" >+</button>

    <h2>Tous les recruteurs</h2>
    <div class="row">
    <div class="col-lg-6 col-md-12" *ngFor="let p of listerecruteur ;let index=index">
    <div class="single-applicants-card">
    <div class="image"  >
    <a href="candidates-details.html"><img src="http://localhost:3000/file/imagerecruteur/{{p.file}}" alt="image" height="80px" width="80px"></a>
    </div>
    <div class="content" >
    <h3>
    <a >{{p.username}}</a>
    </h3>
    <span>{{p.email}}</span>
    <div>

   <!--  <div ><button   *ngIf="! p.confirmed" (click)="confirmer(p._id)" class="btn btn-lg btn-block btn-primary" style="background-color: #88caa0;" type="submit" class="btn btn-primary"> confirmer</button>
    </div> -->
    <div class="applicants-footer">
    <ul class="option-list">

    <li><button  (click)="deleterecruteur(p._id)"class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Aplication" type="button"><i class="ri-delete-bin-line"></i></button></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    
   
    </div>
    </div>