<div class="copyrights-area">
    <div class="row align-items-center">
    <div class="col-lg-6 col-sm-6 col-md-6">
    <p><i class="ri-copyright-line"></i> <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear())</script> <a >ETC</a>.Tous les droits sont réservés </p>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 text-end">
    <p>Concu par <a  target="_blank">ETC</a>
    </div>
    </div>
    </div>
    